# Archivos de Bytecode de .NET
*.nupkg
*.snupkg
*.dll
*.exe
*.pdb
*.olb
*.tlb
*.obj
*.so
*.o
*.dynlib
*.pyc
*.pyo
*.pyd
*.swp
*.dll.config
*.exe.config

# Archivos generados por Visual Studio
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.service
*.symlink
*.dbmdl

# Herramientas de Visual Studio
_ReSharper*/
_TeamCity*

# Archivos de configuración del proyecto
*.vbproj
*.fsproj
*.config

# Otros archivos y carpetas
packages/
.vs/
Properties/
TestResults
*.Cache
ClientBin
StyleCopReport.xml
*.dbmdl
Generated_Code
*.log
*.vspscc
*.vssscc
*.scc
*.DotSettings
*.vmdk
*.vdi
*.vbox
*.pst
*.ost
*.cmd
*.bat
*.ps1
*.sh
*.mdf
*.ldf
*.mdf
*.ldf
*.bak
*.trx
*.vsix
*.nupkg
*.snupkg
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vsd
*.vst
*.vss
*.vsw
*.vsx
*.vtx
*.pdb
*.idb
.ipch/
obj/
[Bb]in/
[Rr]elease*/
[Dd]ebug*/
Ankh.NoLoad

# Archivos y carpetas relacionados con macOS
.DS_Store
.AppleDouble
.LSOverride

# Miniaturas
._*

# Archivos creados por Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Carpetas de caché y logs (Windows/Linux)
[Nn]Log/
[Nn]log/
logs/
LOGS/
